body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border: 1px solid #fcbf49;
    border-radius: 10px;

    
}
.total{
    display: flex;
    margin:200px auto;
    border: 2px solid #003049 ;
    border-radius: 10px;
    width: 450px;
}
.photo{
    background-color: #003049;
    border-right: 2px solid #fcbf49;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 20px;
}
.card {
    width: 400px;
    padding: 20px;
    text-align: center;
    background: #d62828;
    color: #003049;
    border: 0px solid #003049; 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.total:hover{
    box-shadow: 10px 10px #fcbf49 ;

}
.card:hover{
    text-shadow: 0px 0px 2px #003049;
}
.avatar:hover{
    animation-name: anime;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    
}
@keyframes anime {
    from {box-shadow: 0px 0px;}
    to {box-shadow: -2px 2px #fcbf49  ;border-radius: 50%;}
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

